/* custom.css
 * Purpose: Custom styling
 *
 * Revision History:
 *      Drew Matheson, 2015.01.12: Copied into assignment 1
 *      Drew Matheson, 2015.02.06: Added styles for assignment 2
 */

img { max-width: 100%; }

.red { color : red; }

label.error {
	color: red;
}

label.ui-input-text
{
    font-weight: bold;
}

@media all and (max-width: 35em)
{
   .my-breakpoint .ui-block-a,
   .my-breakpoint .ui-block-b 
   {
       width: 100%;
       float: none;
   } 
   .my-breakpoint .ui-block-b
   {
       padding-top: 1.5em;
       clear: left;
   }

   .leftForm, .rightForm
    {
       padding: 0 !important; /* HORRIBLE */
    }
}

.leftForm
{
    padding-right: 0.5em;
}

.rightForm
{
    padding-left: 0.5em;
}

.right
{
    float: right;
}

.left
{
    float: left;
}

.clearBoth
{
    clear:both
}

h2
{
    margin-top: 0.3em;
}

.alignCenter
{
    text-align:center;
}