/* custom.css
 * Purpose: Custom styling
 *
 * Revision History:
 *      Drew Matheson, 2015.02.06: Copied from Assignment 2
 */

/*#region  -- Media Queries --  */
@media all and (max-width: 35em)
{
   .my-breakpoint .ui-block-a,
   .my-breakpoint .ui-block-b 
   {
       width: 100%;
       float: none;
   } 

   .my-breakpoint .ui-block-b
   {
       padding-top: 1.5em;
       clear: left;
   }

   .leftForm, .rightForm
    {
       padding: 0 !important; /* HORRIBLE */
    }
}
/*#endregion*/

label.error {
	color: red;
}

label.ui-input-text, label.ui-select
{
    font-weight: bold;
}

label > a[data-role="button"][data-iconpos="notext"][data-inline="true"]
{
    margin-top: 0;
    margin-bottom: 0;
}

/*#region  -- Classes --  */
.red
{
     color: red;
}

.alignCenter
{
    text-align: center;
}

/* Footer selector is to remove top/bottom margin due to inputs and labels*/
.margin0, footer > div.ui-checkbox > label.margin0
{
    margin-top: 0;
    margin-bottom:0;
}

.leftForm
{
    padding-right: 0.5em;
}

.rightForm
{
    padding-left: 0.5em;
}

.right
{
    float: right;
}

.left
{
    float: left;
}

.clearBoth
{
    clear:both
}
/*#endregion*/

/*#region  -- Elements --  */
h2
{
    margin-top: 0.3em;
}

img
{
     max-width: 100%;
}
/*#endregion*/

/*#region  -- Ids --  */

/* Prevent the header text and new character button breaking into two lines */
section#home
{
    -moz-min-width: 300px;
    -ms-min-width: 300px;
    -o-min-width: 300px;
    -webkit-min-width: 300px;
    min-width: 300px;
} 
/*#endregion*/